* {
   font-family: Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}
#header {
   background: #222222;
   height: 25px;
   padding: 7px 50px 3px;
}
.version {
  float: left;
  width: 100px;
}
.version_link {
  text-decoration: none;
  font-size: 10pt;
  color: ghostWhite;
}
.version_link:hover { 
  color: #004477;
  font-weight: bolder;
  font-style: italic;
}

#main {
  background: ghostWhite;
  font-family: Arial;
  font-size: 12pt;
}
h2#ruby_title { 
  padding:5px 0 0 15px;
  margin:5px 0 5px 0;
}
a#top_title_link:link, a#top_title_link:visited { 
  color:#822;
}
a#top_title_link:hover { 
  color: #22a; 
  font-weight:bolder; 
  font-style:italic;
}
div.top_list { padding:10px 10px 0 15px; }
.class_title_bar { 
  color:#004477; 
  font-size: 16pt;
  background:#222222; 
  padding: 4px 0 4px 10px; 
  margin:7px 0 5px 0; 
}
#class_name {
  font-size: 22pt;
  color: #0099cc;
}
h3.meth_type, h3.top_subtitle { color:#822; }
div.meths { padding:0 10px 0 15px; }
span.superclass {
  color: #004477; 
  margin-left:5px; 
}
span.superclass a {
  font-size:16pt; 
}
span#top_link { 
  font-size:14pt; 
  float:right; 
  width:30px; 
  height:20px;
  padding-top:10px;
  margin:0px 20px;
}
span#top_link a {
  color: #444444;
  text-decoration: none;
}
span.counter { color:#004477; }
a.top_class_link:link, a.top_class_link:visited { color: #004477; }
a.class19_link:link, a.class19_link:visited { color:#448800; }
a.class_link, a#top_title_link, a.top_class_link, a.meth_link, a.meth19_link, a.class19_link { text-decoration:none; }
a.class_link:link, a.class_link:visited { color:#448800; }
a.meth_link:link, a.meth_link:visited { color:#004477; }
a.meth19_link:link, a.meth19_link:visited { color:#448800; }
a.class_link:hover, a.top_class_link:hover, a.class19_link:hover, a.meth_link:hover, a.meth19_link:hover {
  color:#005580;
  font-weight:bolder;
  font-style:italic;
}

